<!doctype html>
<html lang="en">
  <head>
    <%- include("./../includes/dashboard-head.ejs") -%>
  </head>
  <body>
    <%- include('./../includes/nav.ejs') -%>
    <%- include('./../includes/dashboard-sidebar.ejs') -%>
    <div class="main-content">
      <div class="container-fluid">
        <nav aria-label="breadcrumb" class="my-1">
          <ol class="breadcrumb bg-white w-100 d-flex justify-content-end">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          </ol>
        </nav>
        <%- include ("./../includes/flash.ejs") -%>
          <%- include('./partials/card.ejs') -%>
          <br>
          <br>
          <%- include('./partials/chart.ejs') -%>
          <br>
          <%- include('./partials/datatable.ejs') -%>
      </div>
      <%- include('./../includes/footer') -%>
    </div>
    
    <%- include('./../includes/dashboardFooterJs.ejs') -%>
  </body>
</html>