<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./../includes/head.ejs') -%>
</head>
<body>
   <div class="container">
       <%- include("./../includes/nav.ejs") -%>
       <nav aria-label="breadcrumb" class="my-1">
        <ol class="breadcrumb bg-white w-100 d-flex justify-content-end">
          <li class="breadcrumb-item"><a href="/products">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="/users/change-password">change password</a></li>
        </ol>
      </nav>
      <%- include ("./../includes/flash.ejs") -%>
     <!-- form card change password -->
     <div class="card card-outline-secondary">
        <div class="card-header bg-dark">
            <h3 class="mb-0 text-success">Change Password</h3>
        </div>
        <div class="card-body d-flex justify-content-center">
            <div class="col-md-8">
                <form class="form" role="form" autocomplete="off" method="POST" action="/users/change-password">
                    <div class="form-group">
                        <label for="inputPasswordOld">Current Password</label>
                        <input name="old_password" type="password" class="form-control" id="inputPasswordOld" required="">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNew">New Password</label>
                        <input name="new_password" type="password" class="form-control" id="inputPasswordNew" required="">
                        <span class="form-text small text-muted">
                                please use a string password, and must <em>not</em> contain spaces.
                            </span>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNewVerify">Confirm password</label>
                        <input name="confirm_password" type="password" class="form-control" id="inputPasswordNewVerify" required="">
                        <span class="form-text small text-muted">
                                To confirm, type the new password again.
                            </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary float-right">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /form card change password -->
    <%- include("./../includes/footer.ejs") -%>
   </div> 
   <%- include("./../includes/footerJs.ejs") -%>
</body>
</html>